body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td{margin:0;padding:0;}ul,ol{list-style:none;}
img{border:none;}
.clear{
height:1px;
line-height:1px;
clear:both;
}
.f12{
font-size:12px
}
.f14{
font-size:14px
}
.b{
font-weight:bold;
}
body{
background-repeat:repeat-x;
background-position:center top;
font-family:Arial, Helvetica, sans-serif;
}
.header{
width:984px;
margin:0 auto;
height:67px;
}
.logo{
height:200px;
width:200px;
margin:52px 0 0 125px;
_margin-left:63px;
float:left;
background:url(../img/logo.jpg);
}
.logo a{
height:200px;
width:200px;
display:block;
}
.logo a:hover{
background:url(../img/logo2.jpg);
}
.menu{
width:472px;
height:67px;
float:left;
margin-left:120px;
margin-top:145px;
}
.menu a{
display:block;
color:#fff;
font-weight:bold;
text-decoration:none;
text-align:center;
float:left;
margin-right:45px;
}
.menu a:hover,.menu .current{
border-bottom:2px solid #fff;
}

.judgebox{
width:600px;
height:410px;
margin:95px auto 70px auto;
*margin-top:275px;
_margin-top:95px;
}
.judgebox .left,.judgebox .right{
width:200px;
height:320px;
margin:0 50px;
float:left;
_margin-left:25px;
}
.judgebox span{
display:block;
width:200px;
color:#999;
line-height:24px;
text-align:center;
}
.judgebox .photo{
display:block;
width:116px;
height:160px;
border:1px solid #ddd;
margin:15px auto 25px auto;
}
.judgebox .photo img{
padding:3px;
}
.judgebox a.btn1,.judgebox a.btn2{
width:152px;
height:40px;
display:block;
margin:0 auto;
cursor:pointer;
}
.judgebox a.btn1{
background-image:url(../img/btn.jpg);
}
.judgebox a.btn2{
background-image:url(../img/btn2.jpg);
}
.judgebox a.btn1:hover,.judgebox a.btn2:hover{
background-position:0 40px;
}
.judgebox .equal{
width:600px;
margin-top:40px;
height:70px;
float:left;
text-align:center;
color:#666
}


.rankbox{
width:600px;
height:1110px;
margin:95px auto 70px auto;
*margin-top:275px;
_margin-top:95px;
}
.rankbox li{
width:200px;
height:270px;
float:left;
margin-bottom:30px;
}
.rankbox .rank{
width:200px;
height:24px;
line-height:24px;
color:#fff;
text-align:center;
background:url(../img/rank.jpg) no-repeat center;
}
.rankbox .class,.rankbox .name{
text-align:center;
height:22px;
line-height:22px;
color:#999;
}
.rankbox .photo{
display:block;
width:116px;
height:160px;
border:1px solid #ddd;
margin:15px auto 25px auto;
}
.rankbox .photo img{
padding:3px;
}
.aboutbox{
width:750px;
color:#777;
margin:95px auto 70px auto;
*margin-top:275px;
_margin-top:95px;
}
.aboutbox p{
margin-bottom:24px;
}
.refresh{
cursor:pointer;}
.keycon{
line-height:40px;
color:#bbb;
}
.footer{
width:100%;
margin:0 auto;
clear:both;
height:80px;
border-top:1px solid #eee;
background:url(../img/foot_logo.jpg) no-repeat center;
}